body {
    background-color: rgb(63, 150, 216);
}
.main-container {
    display: flex;
    gap: 10px;
    width: 600px;
    height: 400px;
    margin: 100px auto 0;
}
.form-row {
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.wimage {
    width: 340px;
    height: 400px;
}
.right_side {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    gap: 10px;
}
.right_side_container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
}
.tabs {
    margin-top: 2px;
}
.profile_btn{
    padding:15px
}